In [1]:
import pandas as pd

In [3]:
# Change False to True to see Dataframes in action
if True:
    data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
    football = pd.DataFrame(data)
    print (football)

In [4]:
if True:
    data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
    football = pd.DataFrame(data)
    print (football.dtypes)
    print ("")
    print (football.describe())
    print ("")
    print (football.head())
    print ("")
    print (football.tail())

losses     int64
team      object
wins       int64
year       int64
dtype: object

          losses       wins         year
count   8.000000   8.000000     8.000000
mean    6.625000   9.375000  2011.125000
std     3.377975   3.377975     0.834523
min     1.000000   4.000000  2010.000000
25%     5.000000   7.500000  2010.750000
50%     6.000000  10.000000  2011.000000
75%     8.500000  11.000000  2012.000000
max    12.000000  15.000000  2012.000000

   losses     team  wins  year
0       5    Bears    11  2010
1       8    Bears     8  2011
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012

   losses     team  wins  year
3       1  Packers    15  2011
4       5  Packers    11  2012
5      10    Lions     6  2010
6       6    Lions    10  2011
7      12    Lions     4  2012

In [5]:
if True:
    series = pd.Series(['Srinidhi', 'H', 'ML'])
    print (series)

0    Srinidhi
1           H
2          ML
3          42
4          56
dtype: object

In [6]:
if True:
    series = pd.Series(['Srinidhi', 'H', 'ML'],
                       index=['Instructor', 'Curriculum Manager',
                              'Course Number'])
    print (series)

Instructor            Srinidhi
Curriculum Manager           H
Course Number               ML
dtype: object

In [7]:
 print (series[['Instructor', 'Curriculum Manager', 'Course Number']])

Instructor            Srinidhi
Curriculum Manager           H
Course Number               ML
dtype: object

In [8]:
if True:
    cuteness = pd.Series([1, 2, 3, 4, 5], index=['Cockroach', 'Fish', 'Mini Pig',
                                                 'Puppy', 'Kitten'])
    print (cuteness > 3)
    print ("")
    print (cuteness[cuteness > 3])

Cockroach    False
Fish         False
Mini Pig     False
Puppy         True
Kitten        True
dtype: bool

Puppy     4
Kitten    5
dtype: int64